In [25]:
import pandas as pd
import numpy as np

### Processing on the Monthly GoT data to remove false positives
### Output is a processed csv will import this to MongoDB

In [26]:
#Read in month of gameofthrones data
GoT_df = pd.read_csv('C:\\data files\\May2016 GOT.csv')

In [27]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
0,hyukgae,minminnay,mentions,sun may 01 06:34:43 +0000 2016,726661108610682880,rt @minminnay: spring in me ม้ามืดมาก จู่ๆขึ้น...,['hereiam'],True
1,n_vsegda,n_vsegda,tweet,sun may 01 06:46:08 +0000 2016,726663981700644864,Миленько https://t.co/8dbfjm2biy,[],False
2,t_leture,lordsnow,mentions,sun may 01 06:50:34 +0000 2016,726665097398128641,rt @lordsnow: #gameofthrones meets the simpson...,['gameofthrones'],True
3,geeksmashtweets,romaniangirl,mentions,sun may 01 06:51:05 +0000 2016,726665227429879808,rt @romaniangirl: been watching jack taylor on...,['gameofthrones'],True
4,thronenews99,digi_gifts,mentions,sun may 01 06:59:19 +0000 2016,726667299399168000,simonknuckey: rt @digi_gifts rt to #win a pers...,"['win', 'gameofthrones']",False

In [28]:
#Drop all where hashtag != gameofthrones

GoT_df['hashtags'] = GoT_df['hashtags'].str.lower()
GoT_df = GoT_df[GoT_df['hashtags'].str.contains('gameofthrones')]

In [29]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
2,t_leture,lordsnow,mentions,sun may 01 06:50:34 +0000 2016,726665097398128641,rt @lordsnow: #gameofthrones meets the simpson...,['gameofthrones'],True
3,geeksmashtweets,romaniangirl,mentions,sun may 01 06:51:05 +0000 2016,726665227429879808,rt @romaniangirl: been watching jack taylor on...,['gameofthrones'],True
4,thronenews99,digi_gifts,mentions,sun may 01 06:59:19 +0000 2016,726667299399168000,simonknuckey: rt @digi_gifts rt to #win a pers...,"['win', 'gameofthrones']",False
5,nrdlypodcast,nrdlypodcast,tweet,sun may 01 07:01:17 +0000 2016,726667794327212032,it's about to get real. it's season 6 of #game...,['gameofthrones'],False
7,malemodelworsh,pat_lee,mentions,sun may 01 07:06:22 +0000 2016,726669073619275776,rt @pat_lee: #muscle on #instagram: who's read...,"['muscle', 'instagram', 'gameofthrones']",True

In [30]:
GoT_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35964 entries, 2 to 51921
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   poster          35964 non-null  object
 1   recipient       35961 non-null  object
 2   relationship    35964 non-null  object
 3   tweet date      35964 non-null  object
 4   tweet id        35964 non-null  int64
 5   tweet           35964 non-null  object
 6   hashtags        35964 non-null  object
 7   retweet status  35964 non-null  bool
dtypes: bool(1), int64(1), object(6)
memory usage: 2.2+ MB

In [31]:
GoT_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35964 entries, 2 to 51921
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   poster          35964 non-null  object
 1   recipient       35961 non-null  object
 2   relationship    35964 non-null  object
 3   tweet date      35964 non-null  object
 4   tweet id        35964 non-null  int64
 5   tweet           35964 non-null  object
 6   hashtags        35964 non-null  object
 7   retweet status  35964 non-null  bool
dtypes: bool(1), int64(1), object(6)
memory usage: 2.2+ MB

In [32]:
#Convert Year column to a datetime objest
GoT_df['tweet date'] = pd.to_datetime(GoT_df['tweet date'])
GoT_df['date'] = GoT_df['tweet date'].dt.date

In [33]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status,date
2,t_leture,lordsnow,mentions,2016-05-01 06:50:34+00:00,726665097398128641,rt @lordsnow: #gameofthrones meets the simpson...,['gameofthrones'],True,2016-05-01
3,geeksmashtweets,romaniangirl,mentions,2016-05-01 06:51:05+00:00,726665227429879808,rt @romaniangirl: been watching jack taylor on...,['gameofthrones'],True,2016-05-01
4,thronenews99,digi_gifts,mentions,2016-05-01 06:59:19+00:00,726667299399168000,simonknuckey: rt @digi_gifts rt to #win a pers...,"['win', 'gameofthrones']",False,2016-05-01
5,nrdlypodcast,nrdlypodcast,tweet,2016-05-01 07:01:17+00:00,726667794327212032,it's about to get real. it's season 6 of #game...,['gameofthrones'],False,2016-05-01
7,malemodelworsh,pat_lee,mentions,2016-05-01 07:06:22+00:00,726669073619275776,rt @pat_lee: #muscle on #instagram: who's read...,"['muscle', 'instagram', 'gameofthrones']",True,2016-05-01

In [34]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status,date
2,t_leture,lordsnow,mentions,2016-05-01 06:50:34+00:00,726665097398128641,rt @lordsnow: #gameofthrones meets the simpson...,['gameofthrones'],True,2016-05-01
3,geeksmashtweets,romaniangirl,mentions,2016-05-01 06:51:05+00:00,726665227429879808,rt @romaniangirl: been watching jack taylor on...,['gameofthrones'],True,2016-05-01
4,thronenews99,digi_gifts,mentions,2016-05-01 06:59:19+00:00,726667299399168000,simonknuckey: rt @digi_gifts rt to #win a pers...,"['win', 'gameofthrones']",False,2016-05-01
5,nrdlypodcast,nrdlypodcast,tweet,2016-05-01 07:01:17+00:00,726667794327212032,it's about to get real. it's season 6 of #game...,['gameofthrones'],False,2016-05-01
7,malemodelworsh,pat_lee,mentions,2016-05-01 07:06:22+00:00,726669073619275776,rt @pat_lee: #muscle on #instagram: who's read...,"['muscle', 'instagram', 'gameofthrones']",True,2016-05-01

In [35]:
#Save file for import to nosql
GoT_df.to_csv('C:\\data files\\May2016 GOT Clean.csv')