In [75]:
import pandas as pd
import numpy as np

### Processing on the Monthly GoT data to remove false positives and do date processing

In [77]:
#Read in month of gameofthrones data
GoT_df = pd.read_csv('C:\\users\\tonyw\\tfortest.csv')

In [78]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
0,m04th,cutevl,reply,wed jun 01 06:32:54 +0000 2016,737894675277852674,@cutevl انا اصداري اقدم شيء وعادي اخذ سيلفي ما...,[],False
1,arnecutska,chris_voloshina,mentions,wed jun 01 06:34:15 +0000 2016,737895014991302656,rt @chris_voloshina: @arnecutska моё мнение: к...,[],True
2,arnecutska,arnecutska,mentions,wed jun 01 06:34:15 +0000 2016,737895014991302656,rt @chris_voloshina: @arnecutska моё мнение: к...,[],True
3,macready1306,macready1306,tweet,wed jun 01 06:35:56 +0000 2016,737895438624423937,i've never watched #gameofthrones so i'd love ...,['gameofthrones'],False
4,wahanapenulis,wahanapenulis,tweet,wed jun 01 06:38:50 +0000 2016,737896168445870080,i'm tyrion. discover which #gameofthrones char...,['gameofthrones'],False

In [79]:
#Drop all where hashtag != gameofthrones
GoT_df = GoT_df[GoT_df.hashtags == "['gameofthrones']"]

In [80]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
3,macready1306,macready1306,tweet,wed jun 01 06:35:56 +0000 2016,737895438624423937,i've never watched #gameofthrones so i'd love ...,['gameofthrones'],False
4,wahanapenulis,wahanapenulis,tweet,wed jun 01 06:38:50 +0000 2016,737896168445870080,i'm tyrion. discover which #gameofthrones char...,['gameofthrones'],False
6,scopece_marco,emiliaclarkenet,mentions,wed jun 01 06:44:16 +0000 2016,737897535788961792,rt @emiliaclarkenet: (video) emilia clarke on ...,['gameofthrones'],True
7,scopece_marco,emiliaclarke,mentions,wed jun 01 06:44:16 +0000 2016,737897535788961792,rt @emiliaclarkenet: (video) emilia clarke on ...,['gameofthrones'],True
8,yayahemo,got_tyrion,mentions,wed jun 01 06:46:08 +0000 2016,737898005542674432,rt @got_tyrion: who would do this?? #gameofthr...,['gameofthrones'],True

In [81]:
GoT_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 3 to 10
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   poster          6 non-null      object
 1   recipient       6 non-null      object
 2   relationship    6 non-null      object
 3   tweet date      6 non-null      object
 4   tweet id        6 non-null      int64
 5   tweet           6 non-null      object
 6   hashtags        6 non-null      object
 7   retweet status  6 non-null      bool
dtypes: bool(1), int64(1), object(6)
memory usage: 390.0+ bytes

In [82]:
#Convert Year column to a datetime objest
GoT_df['tweet date'] = pd.to_datetime(GoT_df['tweet date'])

In [83]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
3,macready1306,macready1306,tweet,2016-06-01 06:35:56+00:00,737895438624423937,i've never watched #gameofthrones so i'd love ...,['gameofthrones'],False
4,wahanapenulis,wahanapenulis,tweet,2016-06-01 06:38:50+00:00,737896168445870080,i'm tyrion. discover which #gameofthrones char...,['gameofthrones'],False
6,scopece_marco,emiliaclarkenet,mentions,2016-06-01 06:44:16+00:00,737897535788961792,rt @emiliaclarkenet: (video) emilia clarke on ...,['gameofthrones'],True
7,scopece_marco,emiliaclarke,mentions,2016-06-01 06:44:16+00:00,737897535788961792,rt @emiliaclarkenet: (video) emilia clarke on ...,['gameofthrones'],True
8,yayahemo,got_tyrion,mentions,2016-06-01 06:46:08+00:00,737898005542674432,rt @got_tyrion: who would do this?? #gameofthr...,['gameofthrones'],True

In [84]:
GoT_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 3 to 10
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   poster          6 non-null      object
 1   recipient       6 non-null      object
 2   relationship    6 non-null      object
 3   tweet date      6 non-null      datetime64[ns, UTC]
 4   tweet id        6 non-null      int64
 5   tweet           6 non-null      object
 6   hashtags        6 non-null      object
 7   retweet status  6 non-null      bool
dtypes: bool(1), datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 390.0+ bytes

In [85]:
#Add a month, day and year value to the dataframe
GoT_df['day'] = GoT_df['tweet date'].dt.day
GoT_df['month'] = GoT_df['tweet date'].dt.month
GoT_df['year'] = GoT_df['tweet date'].dt.year
GoT_df['date'] = GoT_df['tweet date'].dt.date

In [86]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status,day,month,year,date
3,macready1306,macready1306,tweet,2016-06-01 06:35:56+00:00,737895438624423937,i've never watched #gameofthrones so i'd love ...,['gameofthrones'],False,1,6,2016,2016-06-01
4,wahanapenulis,wahanapenulis,tweet,2016-06-01 06:38:50+00:00,737896168445870080,i'm tyrion. discover which #gameofthrones char...,['gameofthrones'],False,1,6,2016,2016-06-01
6,scopece_marco,emiliaclarkenet,mentions,2016-06-01 06:44:16+00:00,737897535788961792,rt @emiliaclarkenet: (video) emilia clarke on ...,['gameofthrones'],True,1,6,2016,2016-06-01
7,scopece_marco,emiliaclarke,mentions,2016-06-01 06:44:16+00:00,737897535788961792,rt @emiliaclarkenet: (video) emilia clarke on ...,['gameofthrones'],True,1,6,2016,2016-06-01
8,yayahemo,got_tyrion,mentions,2016-06-01 06:46:08+00:00,737898005542674432,rt @got_tyrion: who would do this?? #gameofthr...,['gameofthrones'],True,1,6,2016,2016-06-01

In [87]:
#Drop unwanted columns
#Dropping columns tweet id and tweet date as they are no longer needed
GoT_df.drop(['tweet date','tweet id'], axis=1,inplace=True)

In [88]:
GoT_df.head()

,poster,recipient,relationship,tweet,hashtags,retweet status,day,month,year,date
3,macready1306,macready1306,tweet,i've never watched #gameofthrones so i'd love ...,['gameofthrones'],False,1,6,2016,2016-06-01
4,wahanapenulis,wahanapenulis,tweet,i'm tyrion. discover which #gameofthrones char...,['gameofthrones'],False,1,6,2016,2016-06-01
6,scopece_marco,emiliaclarkenet,mentions,rt @emiliaclarkenet: (video) emilia clarke on ...,['gameofthrones'],True,1,6,2016,2016-06-01
7,scopece_marco,emiliaclarke,mentions,rt @emiliaclarkenet: (video) emilia clarke on ...,['gameofthrones'],True,1,6,2016,2016-06-01
8,yayahemo,got_tyrion,mentions,rt @got_tyrion: who would do this?? #gameofthr...,['gameofthrones'],True,1,6,2016,2016-06-01

In [89]:
#Save file for import to nosql
GoT_df.to_csv('C:\\data files\\GoTJune2016.csv')