In [80]:
import pandas as pd
import numpy as np

### Processing on the Monthly GoT data to remove false positives
### Output is a processed csv will import this to MongoDB

In [93]:
#Read in month of gameofthrones data
GoT_df = pd.read_csv('C:\\data files\\April2016 GOT.csv')

In [94]:
#Read in month of gameofthrones data
may = pd.read_csv('C:\\data files\\May2016 GOT.csv')

In [95]:
#Read in month of gameofthrones data
june = pd.read_csv('C:\\data files\\June2016 GOT.csv')

In [96]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
0,petuhovaksenija,yourcoollook,mentions,fri apr 01 06:34:12 +0000 2016,715789342644510720,rt @yourcoollook: –Ø –î–ò–ö–û –•–û–ß–£ –°–ü–ê–¢–¨,[],True
1,nassie_k,nassie_k,tweet,fri apr 01 06:34:27 +0000 2016,715789405554868224,–Ω–∞–ª–∏–ª–∏ –≤ –∫–ª–µ–π –ø–≤–∞ —Å–º–µ—Ç–∞–Ω—É –∏ —Ö–æ–¥—è—Ç –∂—Ä—É—Ç\n—Ç–ø –¥–Ω–æ...,[],False
2,xgameofthrones,variety,mentions,fri apr 01 06:38:11 +0000 2016,715790345070649345,‚Äògame of thrones‚Äô star iain glen joins rachel ...,['iainglenn'],False
3,halfmylifede,ninadobrev,reply,fri apr 01 06:46:35 +0000 2016,715792458983084032,@ninadobrev @jessicaszohr awhhh nina and vin s...,[],False
4,halfmylifede,jessicaszohr,mentions,fri apr 01 06:46:35 +0000 2016,715792458983084032,@ninadobrev @jessicaszohr awhhh nina and vin s...,[],False

In [97]:
may.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
0,hyukgae,minminnay,mentions,sun may 01 06:34:43 +0000 2016,726661108610682880,rt @minminnay: spring in me ‡∏°‡πâ‡∏≤‡∏°‡∏∑‡∏î‡∏°‡∏≤‡∏Å ‡∏à‡∏π‡πà‡πÜ‡∏Ç‡∏∂‡πâ‡∏ô...,['hereiam'],True
1,n_vsegda,n_vsegda,tweet,sun may 01 06:46:08 +0000 2016,726663981700644864,–ú–∏–ª–µ–Ω—å–∫–æ https://t.co/8dbfjm2biy,[],False
2,t_leture,lordsnow,mentions,sun may 01 06:50:34 +0000 2016,726665097398128641,rt @lordsnow: #gameofthrones meets the simpson...,['gameofthrones'],True
3,geeksmashtweets,romaniangirl,mentions,sun may 01 06:51:05 +0000 2016,726665227429879808,rt @romaniangirl: been watching jack taylor on...,['gameofthrones'],True
4,thronenews99,digi_gifts,mentions,sun may 01 06:59:19 +0000 2016,726667299399168000,simonknuckey: rt @digi_gifts rt to #win a pers...,"['win', 'gameofthrones']",False

In [98]:
may.tail()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
51917,g1sand,beakiddo1,mentions,wed jun 01 05:52:21 +0000 2016,737884470540414976,rt @beakiddo1: @vicinigrazia @nemracxad @beaki...,[],True
51918,g1sand,g1sand,mentions,wed jun 01 05:52:21 +0000 2016,737884470540414976,rt @beakiddo1: @vicinigrazia @nemracxad @beaki...,[],True
51919,g1sand,dannakilling,mentions,wed jun 01 05:52:21 +0000 2016,737884470540414976,rt @beakiddo1: @vicinigrazia @nemracxad @beaki...,[],True
51920,katelynnec20,fallontonight,mentions,wed jun 01 05:53:05 +0000 2016,737884655077195777,rt @fallontonight: kit harington was pretty te...,['gameofthrones'],True
51921,enginyerinnova,enginyerinnova,tweet,wed jun 01 05:53:40 +0000 2016,737884801898778625,aguanta el porton!\naguanta el porton!\nporton...,"['idemandatrialbycombad', 'gameofthronesseason6']",False

In [99]:
june.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
0,M04th,Cutevl,reply,Wed Jun 01 06:32:54 +0000 2016,737894675277852674,@Cutevl ÿßŸÜÿß ÿßÿµÿØÿßÿ±Ÿä ÿßŸÇÿØŸÖ ÿ¥Ÿäÿ° ŸàÿπÿßÿØŸä ÿßÿÆÿ∞ ÿ≥ŸäŸÑŸÅŸä ŸÖÿß...,[],False
1,aRnecutska,chris_voloshina,mentions,Wed Jun 01 06:34:15 +0000 2016,737895014991302656,RT @chris_voloshina: @aRnecutska –º–æ—ë –º–Ω–µ–Ω–∏–µ: –∫...,[],True
2,aRnecutska,aRnecutska,mentions,Wed Jun 01 06:34:15 +0000 2016,737895014991302656,RT @chris_voloshina: @aRnecutska –º–æ—ë –º–Ω–µ–Ω–∏–µ: –∫...,[],True
3,Macready1306,Macready1306,tweet,Wed Jun 01 06:35:56 +0000 2016,737895438624423937,I've never watched #GameOfThrones so I'd love ...,['GameOfThrones'],False
4,wahanapenulis,wahanapenulis,tweet,Wed Jun 01 06:38:50 +0000 2016,737896168445870080,I'm Tyrion. Discover which #GameOfThrones char...,['GameOfThrones'],False

In [100]:
GoT_df = GoT_df.append(may,ignore_index=True)

C:\Users\tonyw\AppData\Local\Temp\ipykernel_19680\745650992.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GoT_df = GoT_df.append(may,ignore_index=True)

In [101]:
GoT_df = GoT_df.append(june,ignore_index=True)

C:\Users\tonyw\AppData\Local\Temp\ipykernel_19680\1553369682.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GoT_df = GoT_df.append(june,ignore_index=True)

In [102]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
0,petuhovaksenija,yourcoollook,mentions,fri apr 01 06:34:12 +0000 2016,715789342644510720,rt @yourcoollook: –Ø –î–ò–ö–û –•–û–ß–£ –°–ü–ê–¢–¨,[],True
1,nassie_k,nassie_k,tweet,fri apr 01 06:34:27 +0000 2016,715789405554868224,–Ω–∞–ª–∏–ª–∏ –≤ –∫–ª–µ–π –ø–≤–∞ —Å–º–µ—Ç–∞–Ω—É –∏ —Ö–æ–¥—è—Ç –∂—Ä—É—Ç\n—Ç–ø –¥–Ω–æ...,[],False
2,xgameofthrones,variety,mentions,fri apr 01 06:38:11 +0000 2016,715790345070649345,‚Äògame of thrones‚Äô star iain glen joins rachel ...,['iainglenn'],False
3,halfmylifede,ninadobrev,reply,fri apr 01 06:46:35 +0000 2016,715792458983084032,@ninadobrev @jessicaszohr awhhh nina and vin s...,[],False
4,halfmylifede,jessicaszohr,mentions,fri apr 01 06:46:35 +0000 2016,715792458983084032,@ninadobrev @jessicaszohr awhhh nina and vin s...,[],False

In [103]:
GoT_df.tail()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
142571,gingerbirdevans,gingerbirdevans,tweet,Fri Jul 01 05:46:48 +0000 2016,748754709784043523,wondered when someone would pick up on the pa...,"['gameofthrones', 'ConservativeLeadership']",False
142572,hussein__yassin,alixfusion,reply,Fri Jul 01 05:49:38 +0000 2016,748755422845165568,@alixfusion oum nem,[],False
142573,jecssssss,jecssssss,tweet,Fri Jul 01 05:52:25 +0000 2016,748756123277144068,"Just like Jon Snow, we know nothing üòÇ #GameofT...",['GameofThronesTriviaGame'],False
142574,toastedaquarius,toastedaquarius,tweet,Fri Jul 01 05:55:12 +0000 2016,748756823730106368,Rewatching #GameofThrones has reminded me how ...,['GameofThrones'],False
142575,Madrid__3,arwa1z,reply,Fri Jul 01 05:55:12 +0000 2016,748756823721684994,@arwa1z ÿπŸÅŸàÿß ŸÑÿßÿ™ŸÉŸÑŸÖŸäŸÜŸä ÿ®ÿπÿ∑ŸäŸÉ ÿ®ŸÑŸàŸÉ,[],False

In [104]:
#Drop all where hashtag != gameofthrones

GoT_df['hashtags'] = GoT_df['hashtags'].str.lower()
GoT_df = GoT_df[GoT_df['hashtags'].str.contains('gameofthrones')]

In [105]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
9,harpersbazaarsg,harpersbazaarsg,tweet,fri apr 01 07:00:22 +0000 2016,715795927672496129,this is just insane for a tv series: https://t...,"['got', 'gameofthrones']",False
10,shagil_,firstpost,mentions,fri apr 01 07:02:47 +0000 2016,715796535875932160,rt @firstpost: 'heavy bubbles is secret of my ...,['gameofthrones'],True
15,gameofthrones1v,gameofthrones1v,tweet,fri apr 01 07:16:24 +0000 2016,715799962588692483,#gameofthrones game of thrones: season 3 (#dvd...,"['gameofthrones', 'dvd']",False
18,jennieloveslife,jennieloveslife,tweet,fri apr 01 07:26:20 +0000 2016,715802462389714944,why is everybody lying about jon snow?\n\nhttp...,['gameofthrones'],False
19,davidgmcneill,syidmassiah,mentions,fri apr 01 07:26:27 +0000 2016,715802491762384900,rt @syidmassiah: awesome #gameofthrones https:...,['gameofthrones'],True

In [106]:
GoT_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102342 entries, 9 to 142574
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   poster          102342 non-null  object
 1   recipient       102338 non-null  object
 2   relationship    102342 non-null  object
 3   tweet date      102342 non-null  object
 4   tweet id        102342 non-null  int64
 5   tweet           102342 non-null  object
 6   hashtags        102342 non-null  object
 7   retweet status  102342 non-null  bool
dtypes: bool(1), int64(1), object(6)
memory usage: 6.3+ MB

In [107]:
GoT_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102342 entries, 9 to 142574
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   poster          102342 non-null  object
 1   recipient       102338 non-null  object
 2   relationship    102342 non-null  object
 3   tweet date      102342 non-null  object
 4   tweet id        102342 non-null  int64
 5   tweet           102342 non-null  object
 6   hashtags        102342 non-null  object
 7   retweet status  102342 non-null  bool
dtypes: bool(1), int64(1), object(6)
memory usage: 6.3+ MB

In [108]:
#Convert Year column to a datetime objest
#GoT_df['tweet date'] = pd.to_datetime(GoT_df['tweet date'])
#GoT_df['date'] = GoT_df['tweet date'].dt.date

In [109]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
9,harpersbazaarsg,harpersbazaarsg,tweet,fri apr 01 07:00:22 +0000 2016,715795927672496129,this is just insane for a tv series: https://t...,"['got', 'gameofthrones']",False
10,shagil_,firstpost,mentions,fri apr 01 07:02:47 +0000 2016,715796535875932160,rt @firstpost: 'heavy bubbles is secret of my ...,['gameofthrones'],True
15,gameofthrones1v,gameofthrones1v,tweet,fri apr 01 07:16:24 +0000 2016,715799962588692483,#gameofthrones game of thrones: season 3 (#dvd...,"['gameofthrones', 'dvd']",False
18,jennieloveslife,jennieloveslife,tweet,fri apr 01 07:26:20 +0000 2016,715802462389714944,why is everybody lying about jon snow?\n\nhttp...,['gameofthrones'],False
19,davidgmcneill,syidmassiah,mentions,fri apr 01 07:26:27 +0000 2016,715802491762384900,rt @syidmassiah: awesome #gameofthrones https:...,['gameofthrones'],True

In [110]:
GoT_df.head()

,poster,recipient,relationship,tweet date,tweet id,tweet,hashtags,retweet status
9,harpersbazaarsg,harpersbazaarsg,tweet,fri apr 01 07:00:22 +0000 2016,715795927672496129,this is just insane for a tv series: https://t...,"['got', 'gameofthrones']",False
10,shagil_,firstpost,mentions,fri apr 01 07:02:47 +0000 2016,715796535875932160,rt @firstpost: 'heavy bubbles is secret of my ...,['gameofthrones'],True
15,gameofthrones1v,gameofthrones1v,tweet,fri apr 01 07:16:24 +0000 2016,715799962588692483,#gameofthrones game of thrones: season 3 (#dvd...,"['gameofthrones', 'dvd']",False
18,jennieloveslife,jennieloveslife,tweet,fri apr 01 07:26:20 +0000 2016,715802462389714944,why is everybody lying about jon snow?\n\nhttp...,['gameofthrones'],False
19,davidgmcneill,syidmassiah,mentions,fri apr 01 07:26:27 +0000 2016,715802491762384900,rt @syidmassiah: awesome #gameofthrones https:...,['gameofthrones'],True

In [111]:
#Save file for import to nosql
GoT_df.to_csv('C:\\data files\\All Clean.csv')