In [9]:
from pymongo import MongoClient

import pymongo as pym
import pandas as pd
import csv
import json

from bson.code import Code

In [10]:
#Creating a pymongo client
mongo_client = MongoClient('localhost', 27017)

In [11]:
GoT_df = pd.read_csv('C:\\data files\\June2016 GOT Clean.csv')

In [12]:
GoT_df.head()

,Unnamed: 0,poster,recipient,relationship,tweet,hashtags,retweet status,day,week,month,year,date
0,3,Macready1306,Macready1306,tweet,I've never watched #GameOfThrones so I'd love ...,['gameofthrones'],False,1,22,6,2016,2016-06-01
1,4,wahanapenulis,wahanapenulis,tweet,I'm Tyrion. Discover which #GameOfThrones char...,['gameofthrones'],False,1,22,6,2016,2016-06-01
2,6,scopece_marco,EmiliaClarkeNet,mentions,RT @EmiliaClarkeNet: (Video) Emilia Clarke on ...,['gameofthrones'],True,1,22,6,2016,2016-06-01
3,7,scopece_marco,emiliaclarke,mentions,RT @EmiliaClarkeNet: (Video) Emilia Clarke on ...,['gameofthrones'],True,1,22,6,2016,2016-06-01
4,8,Yayahemo,GoT_Tyrion,mentions,RT @GoT_Tyrion: Who would do this?? #GameofThr...,['gameofthrones'],True,1,22,6,2016,2016-06-01

In [13]:
data = GoT_df.to_dict(orient = 'records')

In [14]:
print(mongo_client )

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [15]:
mongo_client.GoT.GoT_twitter.insert_many(data)